.carousel-container {
    position: relative;
    max-width: 600px;
    /* Adjust as needed */
    margin: auto;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    /* Adjust the height as needed */
    background-color: #0f011e;
    /* A subtle background color */
    transition: transform 0.5s ease-in-out;
}

.award-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.carousel-arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
}